$color-primary: #1e65a7;
$color-primary-20: #1e65a720;
$color-secondary: #25b396;
$color-secondary-20: #25b39620;
$color-secondary-30: #25b39630;
$color-bg: #13141a;
$color-card-20: #212227;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro&display=swap');
$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Source Code Pro', monospace;

$color-text-primary: #e0e0e0;
$color-text-primary-20: #e0e0e020;
$color-text-secondary: #a0a0a0;

body {
  margin: 0;
  font-family: $font-secondary;
}

nav {
  background-color: $color-card-20;
  padding: 16px;
  font-size: 16px;
  //box-shadow:

  a {
    color: $color-text-secondary;
    margin-right: 24px;
    font-family: $font-primary;
  }
}

.app {
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.content {
  overflow-y: auto;
  flex-grow: 1;
}

//Home page
.landing {
  min-height: auto;
  //height: 100%;
  display: flex;
  flex-grow: 1;

  * {
    color: $color-text-secondary;
  }

  > * {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 33vw;
    margin: 80px 0 80px 80px;
    //background-color: $card-color-20;
  }

  .right {
    width: 67vw;
    align-items: center;
    justify-content: center;
  }

  .hi {
    color: $color-text-secondary;
    font-size: 40px;
    margin-bottom: 16px;
  }

  img.extended-logo {
    width: 300px;
    margin-bottom: 72px;
  }

  img.headshot {
    width: 30vw;
  }

  .mission-statements {
    div {
      margin-bottom: 32px;
    }

    b.position {
      color: $color-text-primary;
    }
  }
}

.skills {
  display: flex;
  flex-direction: row;
  //max-width: 100%;
  padding: 0 40px;
  margin-top: 18px;
  margin-bottom: 64px;

  .card-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-card-20;
    max-width: 400px;
    width: 25vw;

    color: $color-text-secondary;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .title-wrapper {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: $font-primary;
    color: $color-primary;

    background-repeat: no-repeat;
    background-size: cover;

    font-weight: bold;
    font-size: 32px;
    padding: 25% 10%;

    .material-icons-sharp {
      font-size: 36px;
      margin-right: 8px;
      align-self: center;
    }
  }

  .section {

    flex-grow: 1;

    padding: 16px 16px 0;

    .section-title {
      color: $color-text-primary;
      //font-family: $primary-font;
      font-size: 18px;
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .expanding-button {
    width: 50%;
    margin: 32px 0;
  }
}

.project-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20vw;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .title {
      font-family: $font-primary;
      color: $color-primary;
      font-size: 96px;
    }

    .flavor {
      margin-bottom: 16px;
      color: $color-text-primary;
    }

    .description {
      color: $color-text-secondary;
      font-size: 16px;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .project {
      width: 100%;
      background-color: $color-card-20;
      display: flex;
      flex-direction: column;
      padding: 32px;

      .header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        height: auto;
        //margin-bottom: 32px;
      }

      .flavor {
        color: $color-text-primary;
        margin-bottom: 32px;
      }

      .title {
        color: $color-primary;
        font-family: $font-primary;
        font-size: 48px;
      }

      .date {
        color: $color-text-secondary;
      }

      .description {
        color: $color-text-secondary;
      }
    }
  }
}

ul {
  padding: 0 0 0 8px;
  margin: 0;
}

li {
  padding-left: 8px;

  &::marker {
    content: "▪";
    font-size: 18px;
  }
}

a {
  color: inherit;
  transition: 0.1s ease-in-out;
  text-decoration: none;

  &:hover {
    color: $color-secondary;
  }
}

.icon-button {
  padding: 8px;
  display: flex;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  fill: $color-text-primary;

  &:hover {
    background-color: $color-secondary-20;
    color: $color-secondary;
    fill: $color-secondary;
  }

  &:active {
    background-color: $color-primary-20;
    color: $color-primary;
    fill: $color-primary;
  }
}

.expanding-button {
  background-color: $color-secondary-20;
  padding: 8px;
  color: $color-secondary;
  font-family: $font-primary;
  display: flex;
  justify-content: center;
  font-size: 18px;

  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.1s ease-in-out;

  &:hover {
    border-color: $color-secondary;
    //background-color: $secondary-color-30;
  }
}

footer {
  background-color: $color-card-20;
  color: $color-text-primary;
  padding: 16px;

  .icons {
    display: flex;
  }

  .top {
    display: flex;
    flex-direction: row;

    h1 {
      margin: 0;

    }

    > div {
      flex-grow: 1;
    }
  }
}