$primary-color: #1e65a7;
$secondary-color: #25b396;
$bg-color: #13141a;
$card-color-20: #313137;

$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Josefin Sans', monospace;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$primary-text-color: #e0e0e0;
$secondary-text-color: #a0a0a0;

body {
  margin: 0;
}

nav {
  background-color: $card-color-20;
  padding: 8px;
  //box-shadow:

  a {
    color: $secondary-text-color;
    margin-right: 8px;
    font-family: $primary-font;
    text-decoration: none;
  }
}

.app {
  background-color: $bg-color;
}